.buttonArea {
  width: 90vw;
  min-height: 60vh;
  max-height: 70vh;
  margin: auto;
  overflow-y: auto;
  padding-bottom: 10vh;
}

.btn {
    width: 300px;
    height: 120px;
    border: 2px solid black;
    margin: 3px auto;
    background-color: #4B4A4A; 
    color: #fff;
    text-shadow: 1px 0 0 #111, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.8s ease;
    display: inline-flex;
    flex-direction: row;
    padding-left: 40px;
    text-align: left;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
}

.btn:hover {
    background-color: #DDDDDD; 
    opacity: 90%;
    border: 2px solid black;
    color: black;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
  }
  
.btn:focus {
    background-color: #DDDDDD !important;
    border: 2px solid black !important;
}

.btn:active, .btn:focus {
   outline: none !important;
   box-shadow: none !important;
   color: black;
   text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
}

.btn[type="MAL"] {
    background-image: url("MAL.png");
}

.btn[type="TWT"] {
    background-image: url("TWT.png");
}

.btn[type="RYM"] {
    background-image: url("RYM.png");
}

.btn[type="DISC"] {
    background-image: url("DISCORD.png");
}

.btn[type="RED"] {
    background-image: url("RED.png");
}

.btn[type="PORT"] {
    background-image: url("PORT.png");
}

.btn[type="CASH"] {
    background-image: url("CASH.png");
}

.btn[type="TTV"] {
    background-image: url("TTV.png");
    background-size: 30%;
}

.btn[type="YT"] {
    background-image: url("YT.png");
    background-size: 35%;
}
