.buttonArea {
  max-width: 90vw;
  max-height: 70vh;
  margin: auto;
}

.buttonArea a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}


.btn {
    width: 300px;
    height: 120px;
    border: 2px solid black;
    margin: 3px auto;
    background-color: #4d9db2; 
    color: #fff;
    text-shadow: 1px 0 0 #111, 0 -1px 0 #111, 0 1px 0 #111, -1px 0 0 #111;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.8s ease;
    display: inline-flex;
    flex-direction: row;
    padding-left: 40px;
    text-align: left;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
    padding: 25px;
}

.btn:hover {
    background-color: #183138; 
    opacity: 90%;
    border: 2px solid black;
    color: black;
    text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
  }
  
.btn:focus {
    background-color: #183138 !important;
    border: 2px solid black !important;
}

.btn:active, .btn:focus {
   outline: none !important;
   box-shadow: none !important;
   color: black;
   text-shadow: 1px 0 0 #FFF, 0 -1px 0 #FFF, 0 1px 0 #FFF, -1px 0 0 #FFF;
}

.btn[type="MAL"] {
    background-image: url("MAL.png");
}

.btn[type="TWT"] {
    background-image: url("TWT.png");
}

.btn[type="RYM"] {
    background-image: url("RYM.png");
}

.btn[type="DISC"] {
    background-image: url("DISCORD.png");
}

.btn[type="RED"] {
    background-image: url("RED.png");
}

.btn[type="PORT"] {
    background-image: url("PORT.png");
}

.btn[type="CASH"] {
    background-image: url("CASH.png");
}

.btn[type="TTV"] {
    background-image: url("TTV.png");
    background-size: 30%;
}

.btn[type="YT"] {
    background-image: url("YT.png");
    background-size: 35%;
}

.btn[type="GIT"] {
    background-image: url("GIT.png");
    background-size: 35%;
}

.btn[type="WEB"] {
    background-image: url("WEB.png");
}

@media only screen and (max-width: 768px) {
    .buttonArea {
        padding-top: 6px;
        overflow: scroll;
        font-size: 12px;
        max-height: 50vh;
    }

}